<footer class="footer">
  <h3 class="footer__title">get in touch with us</h3>
  <p class="footer__sub-slogo">
    Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet
    sed donec malesuada ullamcorper odio.
    <span class="footer__sub-slogo-hidden"
      >Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</span
    >
  </p>
  <div class="footer__socials">
    <div class="footer__social-icon-wrapper">
      <img
        src="@img/socialIcon/RSS.png"
        alt="rss"
        class="footer__social-icon"
      />
    </div>
    <div class="footer__social-icon-wrapper">
      <img
        src="@img/socialIcon/Facebook.png"
        alt="facebook"
        class="footer__social-icon"
      />
    </div>
    <div class="footer__social-icon-wrapper">
      <img
        src="@img/socialIcon/Twitter.png"
        alt="twitter"
        class="footer__social-icon"
      />
    </div>
    <div class="footer__social-icon-wrapper">
      <img
        src="@img/socialIcon/Dribbble.png"
        alt="dribble"
        class="footer__social-icon"
      />
    </div>
    <div class="footer__social-icon-wrapper">
      <img
        src="@img/socialIcon/Pinterest.png"
        alt="pinterest"
        class="footer__social-icon"
      />
    </div>
  </div>
  <p class="footer__contacts">
    <span class="footer__company-adress"> Moonshine St. 14-05 Light City </span
    >/
    <a href="tel:+001234567890" class="footer__company-tel">
      T.+00 (123) 456 78 90 </a
    >/
    <a href="mailto:first.last@email.com" class="footer__company-email">
      first.last@email.com
    </a>
  </p>
</footer>
