<header class="header">
    <nav class="nav">
      <li class="nav__item">
        <a href="#" class="nav__link">Home</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">About Us</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Our Journal</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Projects</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">news</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">features</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">contact</a>
      </li>
    </nav>
    <div class="down-menu-btn">
        <span class="down-menu-btn__line"></span>
        <span class="down-menu-btn__line"></span>
        <span class="down-menu-btn__line"></span>
    </div>
    <nav class="down-nav">
      <li class="down-nav__item">
        <a href="#" class="nav__link">Home</a>
      </li>
      <li class="down-nav__item">
        <a href="#" class="nav__link">About Us</a>
      </li>
      <li class="down-nav__item">
        <a href="#" class="nav__link">Our Journal</a>
      </li>
      <li class="down-nav__item">
        <a href="#" class="nav__link">Projects</a>
      </li>
      <li class="down-nav__item">
        <a href="#" class="nav__link">news</a>
      </li>
      <li class="down-nav__item">
        <a href="#" class="nav__link">features</a>
      </li>
      <li class="down-nav__item">
        <a href="#" class="nav__link">contact</a>
      </li>
    </nav>
</header>
