<section class="inst">
      <div class="inst__title-wrapper">
        <h3 class="title">
        - Latest Instagram Shots
        </h3>
        <a href="#" class="inst__link">
          go to our instagram page -
        </a>
      </div>
      <div class="inst-phots">
        <div class="inst-phots--wrapper">
          <img src="@img/instagram/post-1 1.png" alt="bycicle" />
        </div>
        <div class="inst-phots--wrapper">
          <img src="@img/instagram/post-2 1.png" alt="door" />
        </div>
        <div class="inst-phots--wrapper">
          <img src="@img/instagram/post-3 1.png" alt="electrics" />
        </div>
        <div class="inst-phots--wrapper">
          <img src="@img/instagram/post-4 1.png" alt="car" />
        </div>
      </div>
  </section>
