  <section class="main-section">
    <h2 class="section-title">- our Recent posts</h2>
    <div class="publication">
      <div class="publication__item">
        <div class="image-wrapper">
          <img src="@img/post1img 1.png" alt="Post image" />
        </div>
  
        <div class="sub">
          <h3 class="sub__title section-title">Aenean Adipiscing Etiam Vestibulum</h3>
  
          <a href="#!" class="sub__link"
            >Photography, Journal / 9 Comments</a
          >
  
          <p class="sub__text">
            Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
            ornare sem lacinia quam venenatis vestibulum.
          </p>
        </div>
      </div>
  
      <div class="publication__item">
        <div class="image-wrapper">
          <img src="@img/post3img 1.png" alt="Post image" />
        </div>
  
        <div class="sub">
          <h3 class="sub__title section-title">Aenean Adipiscing Etiam Vestibulum</h3>
  
          <a href="#!" class="sub__link"
            >Photography, Journal / 9 Comments</a
          >
  
          <p class="sub__text">
            Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
            ornare sem lacinia quam venenatis vestibulum.
          </p>
        </div>
      </div>
  
      <div class="publication__item">
        <div class="image-wrapper">
          <img src="@img/post-img 1.png" alt="Post image" />
        </div>
  
        <div class="sub">
          <h3 class="sub__title section-title">Aenean Adipiscing Etiam Vestibulum</h3>
  
          <a href="#!" class="sub__link"
            >Photography, Journal / 9 Comments</a
          >
  
          <p class="sub__text">
            Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
            ornare sem lacinia quam venenatis vestibulum.
          </p>
        </div>
      </div>
  
      <div class="publication__item">
        <div class="image-wrapper">
          <img src="@img/post4img 1.png" alt="Post image" />
        </div>
  
        <div class="sub">
          <h3 class="sub__title section-title">Aenean Adipiscing Etiam Vestibulum</h3>
  
          <a href="#!" class="sub__link"
            >Photography, Journal / 9 Comments</a
          >
  
          <p class="sub__text">
            Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
            ornare sem lacinia quam venenatis vestibulum.
          </p>
        </div>
      </div>
    </div>
  </section>
  