
.inst{
  padding: 47px 0 49px;
  width: 120%;
  background-color: rgba(0, 0, 0, 0.03);
  @include displayFlex(flex-start, center,column);
  text-transform: uppercase;
  font-weight: 700;
  &__title-wrapper {
    width: 100%;
    max-width: 1170px;
    @include displayFlex(space-between, center, row);
    color: $title-text-color;
  }
  &__link {
    font-size: 12px;
  }
  &-phots {
    margin-top: 24px;
    width: 100%;
    max-width: 1170px;
    @include displayFlex(space-between, flex-start, row);
    gap: 10px;
    .inst-phots--wrapper {
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .inst {
 background-color:#00000000 ;
    &-phots {
      margin-top: 35px;
      .inst-phots--wrapper {
        &:last-child {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .inst {
    .title {
     justify-content: flex-start;
      font-size: 16px;
    }
    &__link {
      display: none;
    }
    &-phots {
      margin-top: 13px;
      justify-content: center;
      .inst-phots--wrapper {
        &:not(:first-child) {
          display: none;
        }
      }
    }
  }
}

