@import "mixin";
@import "variables";
@import "fonts";
@import "reset";
@import "header";
@import "poster";
@import "main-section";
@import "instagram-section";
@import "footer";



a {
    text-decoration: none;
    color: inherit;
  }
  
  .container {
    @include fontStyle(16px, 400, 1, #5C5C5C, left, none, 'Roboto' );
    @include displayFlex(flex-start, center, column);
    max-width: 100%;
    padding-right: 92px;
    padding-left: 92px;
    margin: 0 auto;
    .main {
      width: 100%;
      @include displayFlex(flex-start, center, column);
    }
  }
  